body {
  background-color: rgb(190, 143, 235);
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(5, 145, 133);
}
a:focus {
  outline: none;
}
a:active {
  color: red;
}
